.gdtx, .fm_detail_two:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.shop_box {
  height: 120px; }

.mod_detail_crumb {
  height: 40px;
  line-height: 40px; }
  .mod_detail_crumb a {
    margin: 0 14px; }
  .mod_detail_crumb a:hover {
    color: #eb0000; }

.fm_detail_one {
  height: 600px; }

.l {
  float: left;
  height: 485px;
  width: 400px;
  margin-right: 25px;
  position: relative;
  top: 0; }

#proImg {
  position: relative;
  height: 400px;
  width: 400px;
  border: 1px solid #ddd; }
  #proImg img {
    height: 400px;
    width: 400px; }
  #proImg #shadow {
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: rgba(66, 166, 166, 0.4);
    left: 0;
    top: 0;
    cursor: move;
    display: none; }

#bigProImg {
  display: none;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 425px;
  top: 0;
  overflow: hidden;
  border: 1px solid #ddd;
  z-index: 999; }
  #bigProImg img {
    height: 800px;
    width: 800px;
    position: absolute;
    left: -400px; }

#proCrumb {
  height: 120px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #proCrumb li {
    float: left;
    width: 88px;
    height: 88px;
    margin: 0 6px; }
  #proCrumb li:hover {
    border: 2px solid black;
    padding: 2px; }
  #proCrumb img {
    height: 88px;
    width: 88px; }
  #proCrumb .shadow {
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: rgba(66, 166, 166, 0.4);
    left: 0;
    top: 0;
    display: none; }

.main_content {
  float: left;
  width: 570px;
  height: 460px; }
  .main_content .link {
    color: #ff875a;
    margin: 0 5px; }

.mod_detailInfo_proName {
  height: 60px;
  margin-bottom: 10px; }
  .mod_detailInfo_proName .subhead {
    font-size: 14px;
    color: #999;
    line-height: 20px; }
  .mod_detailInfo_proName .mh {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold; }

.mod_detailInfo_priceSales {
  height: 105px;
  background: #fde5e0;
  border-top: 1px solid #ffcbc4;
  border-bottom: 1px solid #ffcbc4; }
  .mod_detailInfo_priceSales .price {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dotted #d7c3bf;
    padding: 12px 0 5px; }
    .mod_detailInfo_priceSales .price b {
      padding-left: 26px;
      color: #e60012;
      font-size: 26px;
      font-family: 'Century Gothic'; }
  .mod_detailInfo_priceSales .postage,
  .mod_detailInfo_priceSales .Msgsales {
    padding-left: 60px;
    line-height: 30px;
    height: 30px; }
  .mod_detailInfo_priceSales .Msgsales {
    border-top: 1px dotted #d7c3bf;
    background: #fff4f2; }

.mod_detailInfo_promotion {
  height: 40px;
  line-height: 40px; }
  .mod_detailInfo_promotion span {
    margin-left: 26px; }

.mod_detailInfo_addressbox {
  height: 40px; }
  .mod_detailInfo_addressbox p {
    line-height: 24px; }
    .mod_detailInfo_addressbox p span {
      margin-right: 14px; }

.mod_cuputing {
  padding: 40px 0 0 52px;
  height: 76px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #E6DCDC;
  position: relative; }
  .mod_cuputing .computing_item {
    width: 71px;
    height: 48px;
    border: 1px solid #CDCDCD; }
    .mod_cuputing .computing_item input {
      width: 46px;
      height: 46px;
      text-align: center;
      border: none;
      float: left;
      border-right: 1px solid #CDCDCD; }
    .mod_cuputing .computing_item .add,
    .mod_cuputing .computing_item .dis_decrease {
      float: left;
      height: 24px;
      width: 24px;
      text-align: center; }
    .mod_cuputing .computing_item .add {
      border-bottom: 1px solid #CDCDCD; }
  .mod_cuputing .shopping_act {
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 146px;
    border-radius: 4px;
    background: #ff875a;
    color: #fff;
    margin-left: 10px; }

.mod_detailInfor_ensure a {
  padding: 6px; }
.mod_detailInfor_ensure a:hover {
  color: #ff875a; }

.r {
  float: right;
  width: 178px;
  border: 1px solid #eaeaea;
  height: 595px; }
  .r figure {
    width: 178px;
    height: 200px;
    text-align: center; }
  .r img {
    width: 178px;
    height: 150px; }
  .r p {
    height: 20px;
    line-height: 20px; }
    .r p b {
      color: #ff875a; }

.fm_detail_two {
  min-height: 1000px;
  height: auto !important;
  height: 1000px; }

.mod_inshop_box {
  float: left;
  width: 210px;
  height: 900px;
  margin-right: 6px; }
  .mod_inshop_box .box_hd {
    padding: 0 10px;
    border-color: #eee;
    background: #f7f7f7;
    height: 35px;
    border: 1px solid #e5e5e5;
    line-height: 35px;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer; }

.cat-item-ch {
  margin-bottom: 10px; }
  .cat-item-ch li {
    height: 28px;
    margin-bottom: 4px;
    border: 1px solid #dedede;
    line-height: 28px;
    cursor: pointer; }
    .cat-item-ch li span {
      margin: 0 6px; }
  .cat-item-ch li:hover {
    background: #ff875a; }

.grid_18 {
  float: left;
  width: 980px;
  height: 380px;
  border: 1px solid #e1e1e1; }

.des_tab {
  border-bottom: 1px solid #e1e1e1;
  height: 35px;
  line-height: 35px;
  background: #FAFAF9;
  cursor: pointer; }
  .des_tab a {
    float: left;
    height: 35px;
    width: 110px;
    border-right: 1px solid #e1e1e1;
    text-align: center; }
  .des_tab a.active {
    background: #e60012;
    color: #fff; }

.mod_similar {
  width: 100%; }
  .mod_similar div {
    width: 100%;
    height: 340px;
    float: left;
    display: none;
    box-sizing: border-box; }
  .mod_similar div.active {
    display: block; }

.mod_search_pro {
  height: 320px;
  width: 230px;
  float: left;
  margin: 7px; }
  .mod_search_pro img {
    height: 234px; }
  .mod_search_pro .proPrice {
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    margin-bottom: 5px;
    font-family: "Century Gothic";
    font-size: 18px;
    color: #e60012;
    font-weight: bold; }
  .mod_search_pro .proName {
    padding: 0 5px;
    height: 56px;
    line-height: 18px; }
    .mod_search_pro .proName a:hover {
      color: #ff3c3c; }
  .mod_search_pro .storeName {
    padding: 0 5px; }

.des_info {
  padding: 10px; }
  .des_info dt {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 10px; }
  .des_info dd {
    height: 32px;
    width: 30%;
    float: left; }

.desitem h4 {
  font-family: simsun;
  border-bottom: 2px solid #cc0000;
  font-size: 14px;
  line-height: 26px;
  margin: 8px 0;
  padding-left: 6px;
  font-weight: bold; }
.desitem .standard dt {
  background: #ddd;
  font-weight: bold;
  height: 22px;
  text-indent: 22px;
  line-height: 22px; }
.desitem .standard dd {
  line-height: 22px;
  border-bottom: 1px solid #ccc; }
  .desitem .standard dd label {
    padding-left: 20px;
    width: 160px;
    float: left;
    border-right: 1px solid #C5C5C5;
    margin-right: 6px; }

.deservice {
  padding: 12px; }
  .deservice h4 {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold; }
  .deservice p {
    text-indent: 10px;
    line-height: 24px; }

.goodwd {
  padding: 12px; }
  .goodwd p {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #fffece;
    padding-left: 35px;
    margin-top: 40px; }

.detailview {
  float: left;
  width: 980px;
  text-align: center;
  padding: 0 100px;
  box-sizing: border-box;
  padding-top: 20px; }

/*# sourceMappingURL=detail.css.map */
