@charset "UTF-8";
/* CSS Document */
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
  margin: 0;
  padding: 0; }

ul,
li,
ol {
  list-style: none; }

img,
fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100; }

body {
  font-size: 14px;
  font-family: "微软雅黑"; }

input,
a {
  outline: none; }

.fl {
  float: left; }

.fr {
  float: right; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/*header*/
header {
  background: #19a97b;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  header h1 {
    float: left;
    margin-left: 1%; }
    header h1 img {
      width: auto;
      max-width: 300px;
      height: 70px; }
  header ul {
    float: right;
    overflow: hidden;
    position: fixed;
    right: 3%;
    top: 12px; }
    header ul li {
      float: left;
      padding: 0 25px;
      text-align: center;
      border-right: 1px #139667 solid; }
      header ul li a img {
        margin-left: 8px; }
      header ul li:last-child {
        border: none; }
      header ul li a {
        color: white;
        font-size: 12px;
        text-shadow: 0 0 1px #20af83;
        display: block; }
        header ul li a:hover {
          color: #f4f4f4; }
          header ul li a:hover:before {
            color: #f4f4f4; }

/*left_aside*/
.left_aside {
  width: 210px;
  height: 100%;
  position: fixed;
  top: 70px;
  left: 0;
  background: #fcfcfc; }
  .left_aside ul {
    margin-bottom: 75px; }
  .left_aside dl dt {
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px #e9e9e9 solid;
    padding: 0 15px;
    position: relative; }
    .left_aside dl dt:before {
      position: absolute;
      width: 5px;
      height: 25px;
      background: #67c1a5;
      content: "";
      top: 10px;
      left: 0; }
  .left_aside dl dd {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px #e9e9e9 dotted; }
    .left_aside dl dd a {
      display: block;
      color: #555555;
      padding: 0 15px; }
      .left_aside dl dd a:hover {
        background: #f8f8f8;
        text-shadow: 0 1px 5px #f4f4f4;
        color: #19a97b; }
    .left_aside dl dd .active {
      background: #f8f8f8;
      color: #19a97b; }
      .left_aside dl dd .active:after {
        content: ">";
        font-family: 'adminthemesregular';
        position: absolute;
        right: 3%;
        color: #19a97b; }

/*right_content*/
.wrap {
  margin-left: 218px;
  margin-right: 10px;
  height: 100%;
  position: relative; }

.content {
  margin-bottom: 80px;
  margin-right: 8px;
  overflow: hidden;
  margin-top: 80px; }

.page_title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px #b6b6b6 solid;
  margin-bottom: 5px; }
  .page_title h2 {
    font-size: 15px;
    font-weight: bold; }

.table {
  width: 100%; }
  .table th {
    border: 1px #d2d2d2 solid;
    height: 40px;
    line-height: 40px; }
  .table td {
    border: 1px #d2d2d2 solid;
    padding: 10px 8px; }
  .table tr:nth-child(odd) {
    background: #f8f8f8; }
  .table tr:hover {
    background: #f9f9f9; }
  .table tr .cut_title {
    width: 265px; }

.ulColumn2 {
  overflow: hidden; }
  .ulColumn2 li {
    margin: 15px 0; }
    .ulColumn2 li .item_name {
      text-align: right;
      display: inline-block; }

.textbox {
  border: 1px #139667 solid;
  height: 26px;
  line-height: 26px;
  padding: 5px;
  font-size: 12px;
  vertical-align: middle; }

.textbox_295 {
  width: 295px; }

.textbox_225 {
  width: 225px; }

.select {
  padding: 0 5px;
  height: 38px;
  font-size: 12px;
  border: 1px #139667 solid;
  vertical-align: middle;
  appearance: button;
  -webkit-appearance: button; }

.textarea {
  display: inline-block;
  margin-top: 5px;
  outline: none;
  resize: none;
  border: 1px #139667 solid;
  padding: 8px; }

.link_btn {
  border: 1px #139667 solid;
  border-radius: 2px;
  background: #19a97b;
  color: white;
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer; }
  .link_btn:hover {
    background: #11a274;
    border: 1px #0e8f61 solid; }
  .link_btn:active {
    background: #0c9c6e;
    border: 1px #0e8f61 solid; }

/*# sourceMappingURL=base.css.map */
