* {
    margin: 0;
    padding: 0;
}

#fengdajing {
    position: relative;
    height: 600px;
    width: 400px;
    margin-left: 50px;
}

#fengdajing .bigContent {
    position: absolute;
    height: 400px;
    width: 400px;
    left: 500px;
    top: 0;
    overflow: hidden;
    display: none;
}

#fengdajing .bigContent img {
    height: 1000px;
    width: 1000px;
    display: block;
    position: absolute;
    left: -400px;
}

#fengdajing .content {
    position: relative;
    height: 400px;
    width: 400px;
    margin-bottom: 20px;
}

.content .shadow {
    height: 160px;
    width: 160px;
    position: absolute;
    background-color: rgba(66, 166, 166, 0.4);
    left: 0;
    top: 0;
    display: none;
}

#fengdajing .content img {
    height: 400px;
    width: 400px;
}

.footer {
    height: 100px;
    width: 400px;
    list-style: none;
}

.footer li {
    float: left;
    width: 98px;
    height: 98px;
    border: 1px solid #cdcdcd;
    line-height: 98px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer li img {
    width: 90px;
    height: 90px;
}

.footer li:hover {
    border: 1px solid black;
}